{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Créer nouveau Lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('app_lieu_index') }}" class="btn btn-danger">back to list</a>
{% endblock %}
